
@model UserInfo
@{
    ViewBag.Title = "Etkinlik Bilgileri";
}
<main class="text-center">

    <h1 class="h4">@ViewBag.Hi</h1>
    @if(Model.WillAttend==true)
    {
        <p>Sayın @Model.Name Katılımınız İçin Teşekkürler , Sizine Beraber Katılımcı Sayısı @ViewBag.UserCount</p>
        <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="List">Katılımcıları Listele</a>
    }else
    {
        <p>@Model.Name Katılamayacağınız İçin Üzgünüz</p>
        <a class="btn btn-sm btn-outline-primary" href="/Meeting/Apply">Başvuru Formu</a>
    }
  
</main>